<div class="d-flex ">
    <app-navbar></app-navbar>
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div
          class="left-container text-dark d-none bg-light-gray vh-100 d-flex flex-column border-end col-lg-6 col-12 p-4 p-lg-5 ">
          <div class="inside-container">
            <div class="page-info">
            </div>
          </div>
        </div>
        <div class="mx-auto right-container col-12 col-lg-6  d-flex align-items-center flex-column  p-4 p-lg-5">
        </div>
      </div>
    </div>
  </div>