<div class="sidebar border-end ">
  <div class="profile-info">
  </div>
  <div class="menu-items">
    <hr class="w-100 px-3 ">
    <a class="menu-item text-decoration-none " routerLink="/schedule" routerLinkActive="active">
      <div class=" rounded d-flex justify-content-start align-items-start  ">
        <app-icon [size]="30">calendar_view_month</app-icon>
      </div>
      <p class="h6 fw-semibold ">Horario</p>
    </a>
    <a class="menu-item text-decoration-none " routerLink="/classes" routerLinkActive="active">
      <div class=" rounded d-flex justify-content-start align-items-start  ">
        <app-icon [size]="30">school</app-icon>
      </div>
      <p class="h6 fw-semibold ">Clases</p>
    </a>
    <a class="menu-item text-decoration-none " routerLink="/teachers" routerLinkActive="active">
      <div class=" rounded d-flex justify-content-start align-items-start  ">
        <app-icon [size]="30">work_history</app-icon>
      </div>
      <p class="h6 fw-semibold ">Profesores</p>
    </a>
    <a class="menu-item text-decoration-none " routerLink="/courses" routerLinkActive="active">
      <div class=" rounded d-flex justify-content-start align-items-start  ">
        <app-icon [size]="30">book</app-icon>
      </div>
      <p class="h6 fw-semibold ">Cursos</p>
    </a>
    <a class="menu-item text-decoration-none " routerLink="/areas" routerLinkActive="active">
      <div class=" rounded d-flex justify-content-start align-items-start  ">
        <app-icon [size]="30">category</app-icon>
      </div>
      <p class="h6 fw-semibold ">Areas</p>
    </a>

    <a class="menu-item text-decoration-none " routerLink="/restriction" routerLinkActive="active">
      <div class=" rounded d-flex justify-content-start align-items-start  ">
        <app-icon [size]="30">block</app-icon>
      </div>
      <p class="h6 fw-semibold ">Restricciones</p>
    </a>
    <a class="menu-item text-decoration-none " routerLink="/priority" routerLinkActive="active">
      <div class=" rounded d-flex justify-content-start align-items-start  ">
        <app-icon [size]="30">priority_high</app-icon>
      </div>
      <p class="h6 fw-semibold ">Prioridades</p>
    </a> 
    <a class="menu-item text-decoration-none " routerLink="/assignments" routerLinkActive="active">
      <div class=" rounded d-flex justify-content-start align-items-start  ">
        <app-icon [size]="30">assignment</app-icon>
      </div>
      <p class="h6 fw-semibold ">Assignaciones</p>
    </a> 
    <a class="menu-item text-decoration-none " routerLink="/statistics" routerLinkActive="active">
      <div class=" rounded d-flex justify-content-start align-items-start  ">
        <app-icon [size]="30">bar_chart</app-icon>
      </div>
      <p class="h6 fw-semibold ">Estadisticas</p>
    </a><a class="menu-item text-decoration-none " routerLink="/load-files" routerLinkActive="active">
      <div class=" rounded d-flex justify-content-start align-items-start  ">
        <app-icon [size]="30">upload_file</app-icon>
      </div>
      <p class="h6 fw-semibold ">Cargar Archivos</p>
    </a>
  </div>
</div>