<div class="d-flex " *transloco="let t">
    <ng-container *ngIf="showSide">
        <app-navbar></app-navbar>
    </ng-container>
    <div class="container-fluid h-100">
        <div class="row h-100 w-100 mt-5 ">
            <div class=" col-12 d-flex justify-content-center">
                <h1>Restricciones</h1>
            </div>

            <div class="p-3" *ngIf="!showConfig">
                <button class="btn btn-primary" (click)="saveRestriction()"><app-icon>settings</app-icon> Guardar Configuracion</button>
            </div>
            
            <ng-container >
                <div class=" col-6 h-75 p-4 p-lg-5  ">
                    <div class="d-flex flex-column row-gap-3 overflow-y-scroll teachers-list">
                        <div *ngFor="let course of courses" (click)="selectCourse(course)"
                            class="bg-body-secondary card border-light">
                            <div class="d-flex card-body align-items-center column-gap-3 shadow-sm">
                                <app-icon [size]="30">block</app-icon>
                                <span>{{t(course.name)}}</span>
    
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-6  p-4 p-lg-5 d-flex flex-grow-1 ">
                    <div *ngIf="!selectedCourse"
                        class="d-flex bg-body-secondary  align-items-center justify-content-center w-100 shadow-sm rounded">
                        <span>Seleccione una restriccion</span>
                    </div>
                    <div *ngIf="selectedCourse"
                        class="d-flex bg-body-secondary  align-items-center justify-content-center w-100 shadow-sm rounded">
                        <div class="bg-white w-75 h-75 d-flex  flex-column p-3 justify-content-center shadow-sm rounded">
                            <h5 class="fw-bold">Datos de la Restriccion</h5>
                            <div class="d-flex flex-column">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="area_name" placeholder="Area comun"
                                        [(ngModel)]="selectedCourse.name" [readonly]="!showConfig">
                                    <label for="area_name">Nombre de la restriccion</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="area_name" placeholder="Area comun"
                                        [(ngModel)]="selectedCourse.value" [readonly]="!showConfig">
                                    <label for="area_name">Valor de la restriccion</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="false">
                <div class="col-12">
                    <div cdkDropListGroup>
                        <div class="example-container">
                          <h2>Restricciones</h2>
                      
                          <div
                            cdkDropList
                            [cdkDropListData]="courses"
                            class="example-list"
                            cdkDropListSortingDisabled
                            (cdkDropListDropped)="drop($event)">
                            <div class="example-box" *ngFor="let item of courses" cdkDrag>{{item.name}}</div>
                          </div>
                        </div>
                      
                        <div class="example-container">
                          <h2>Restricciones Seleccionados</h2>
                      
                          <div
                            cdkDropList
                            [cdkDropListData]="selectedCourses"
                            class="example-list"
                            (cdkDropListDropped)="drop($event)">
                            <div class="example-box" *ngFor="let item of selectedCourses" cdkDrag>{{item.name}}</div>
                          </div>
                        </div>
                      </div>
                   </div>
               </ng-container>
        </div>
    </div>